/*.footer {
  max-width: 1184px;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 0 auto;
  padding: 0 3rem 1.5rem;
}
*/
.footer {
    display: flex;
    justify-content: space-between;
    max-width: 1184px;
    height: 18px;
    margin: 0 auto;
    color: #fff;
}

@media screen and (max-width: 1280px) {
    .footer {
        max-width: calc(100% - 48px * 2);
    }
}

@media screen and (max-width: 768px) {
  .footer {
    padding: 0 calc(1rem + (100vw - 320px) / (768 - 320) * (48 - 24)) calc(1.5rem + (100vw - 320px) / (768 - 320) * (48 - 24));
  }
}

@media screen and (max-width: 540px) {
  .footer {
    flex-direction: column;
  }
}

